@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #DB202C;
}

::-webkit-scrollbar-thumb:hover {
    background: #DB202C;
    cursor: pointer;
}

.swiper-button-next{
    background-color: white;
    border-radius: 100%;
    height: 45px;
    width: 45px !important;
    color: #DB202C;
}

.swiper-button-next > *{
    transform: scale(2);
}

.swiper-button-prev{
    background-color: white;
    border-radius: 100%;
    height: 45px;
    width: 45px !important;
    color: #DB202C;
}

.swiper-button-next > *{
    transform: scale(2);
}